<!DOCTYPE html>
<html lang="ko">
  <head>
    <META HTTP-EQUIV="refresh" CONTENT="10" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>배경화면</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div id="background"></div>
    <div id="date">
      <%= `${(now.getMonth() + 1).toString().padStart(2, '')}월` %>
    </div>
    <div id="time">
      <%= `${now.getHours()} : ${now.getMinutes().toString().padStart(2, '')}`
      %>
    </div>
  </body>
</html>
