<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>WebRTC Receiver (R-Pi)</title>
    <style>
      body {
        font-family: sans-serif;
      }
      .container {
        display: flex;
        gap: 20px;
      }
      .controls button {
        padding: 10px;
        font-size: 16px;
        margin-bottom: 10px;
        display: block;
        width: 150px;
      }
      #status {
        font-style: italic;
        color: #555;
      }
      video {
        border: 1px solid black;
        background-color: #eee;
      }
    </style>
  </head>
  <body>
    <h1>WebRTC Receiver (Raspberry Pi)</h1>
    <div class="container">
      <div class="controls">
        <button type="button" id="startCamBtn">1. Start Camera</button>
        <button type="button" id="waitBtn" disabled>2. Wait for Call</button>
        <button type="button" id="hangUpBtn" disabled>Hang Up</button>
        <p id="status">Ready</p>
      </div>
      <div>
        <p>My Camera</p>
        <video
          id="localStream"
          autoplay
          playsinline
          muted
          width="320"
          height="240"
        ></video>
        <p>Remote Camera</p>
        <video
          id="remoteStream"
          autoplay
          playsinline
          width="320"
          height="240"
        ></video>
      </div>
    </div>
    <script src="peerConfig.js"></script>
  </body>
</html>
