<!DOCTYPE html>
<html lang="en">
  <head>
    <META HTTP-EQUIV="refresh" CONTENT="3" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>통화 연결 화면</h1>
  </body>
</html>
